
.is-roboto {
    font-family: $font-roboto;
}

.is-ubuntu {
    font-family: $font-ubuntu;
}

.is-eb-garamont {
    font-family: $font-eb-garamond;
}

.is-share-tech-mono {
    font-family: $font-share-tech-mono;
}

.is-300 {
    font-weight: 300 !important;
}

.is-400 {
    font-weight: 400 !important;
}

.is-500 {
    font-weight: 500 !important;
}

.is-600 {
    font-weight: 600 !important;
}

.is-700 {
    font-weight: 700 !important;
}