// https://www.pantone.com/color-of-the-year-2018-tools-for-designers 

// Attitude
$pantone-hawaiian-surf: #0078A7;
$pantone-ultra-violet: #5F4B8B;
$pantone-citrus: #F9AC2F;
$pantone-raspberry: #D32E5E;
$pantone-oriole: #FF7913;
$pantone-bodacious: #B76BA3;
$pantone-bamboo: #D2B04C;
$pantone-butterum: #C68F65;
$pantone-prism-violet: #533D7D;
$pantone-gentian-violet: #544275;
$pantone-violet-indigo: #3E285C;
$pantone-violet-u: #7758B3;

// Intrigue
$pantone-blackened-pearl: #4D4B50;

// BULMA
$black: $pantone-blackened-pearl;

$primary-bg: #f9f8fb;
$primary-darker: $pantone-violet-indigo;
$primary-lighter: $pantone-violet-u;

$white: #fff;