@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

$font-roboto: "Roboto";
$font-ubuntu: "Ubuntu";
$font-eb-garamond: "EB Garamond";
$font-share-tech-mono: "Share Tech Mono";
