$primary: $pantone-ultra-violet;
$link: $primary;
$text: $pantone-blackened-pearl;
$info: $pantone-hawaiian-surf;
$success: $pantone-bodacious;
$warning: $pantone-citrus;
$danger: $pantone-raspberry;

$family-primary: $font-roboto;

$dimensions: 16 24 32 48 64 96 128 150 300;

$tablet: 768px;
$desktop: 1025px;